<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/latest/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/fontawesome-free-5.1.0-web/css/all.css" >
    <link rel="stylesheet" href="/static/css/base.css" >
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,600,700,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Zilla+Slab:400,500, 600,700,900" rel="stylesheet">

    <link rel="icon" type="image/png" sizes="32x32" href="/img/favico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favico/favicon-16x16.png">
    <link rel="manifest" href="/img/favico/site.webmanifest">
    <link rel="mask-icon" href="/img/favico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffe75e"> 

    <title><%= htmlWebpackPlugin.options.title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div id="content" />
    <script type="text/javascript">
    let last_known_scroll_position = 0;
    let ticking = false;
    function doSomething(scroll_pos) {
        if(scroll_pos>120){
            console.log('past');
            let header = document.getElementById("header");
            header.classList.add("border-bottom");
        } else if(scroll_pos<120){
            let header = document.getElementById("header");
            header.classList.remove("border-bottom");
        }
    }
    window.addEventListener('scroll', function(e) {
      last_known_scroll_position = window.scrollY;

      if (!ticking) {
        window.requestAnimationFrame(function() {
          doSomething(last_known_scroll_position);
          ticking = false;
        });

        ticking = true;
      }
    }); 
    </script>
  </body>
</html>
