{% extends "base.html" %} 
{% autoescape None %}

{% block title %}{{ page_title }}{% end %}

{% block additional_js %} 
{% end %}


{% block nav %}
{% end %}

{% block content %}
    <div class="row mt-3">
        <div class="col-md-12">
                <img class="img-fluid py-4 mt-0 mb-4 border bg-white box-shadow" src="/static/bbb_logo_cropped.png">
                <h5 class="display-5  pb-0 mt-0 ">What we're up to:</h5>
                <ul class="list-unstyled pl-5 pb-3 mx-auto border-bottom">
                    <li><i class="fas fa-check mr-2 text-secondary"></i> Updating the Brand</li>
                    <li><i class="fas fa-check mr-2 text-secondary"></i> Rebuilding the Layout</li>
                </ul>
                <!--p class="lead">In the meantime</p-->
                <div class="d-flex justify-content-end">
                    
                    <a href="https://www.linkedin.com/company/bit-byte-bit-llc/about/" role="button" class="btn btn-outline-primary circle py-auto my-auto h-100 text-white">
                        <i class="w-100 mx-auto px-auto fab fa-linkedin-in"></i>
                    </a>
                    <a href="mailto:bitbytebitco@gmail.com" role="button" class="btn btn-outline-primary circle py-auto my-auto h-100 text-white ml-2">
                        <i class="w-100 mx-auto px-auto fas fa-at "></i>
                    </a>
                    <a href="#portfolio" role="button" data-toggle="collapse" class="btn btn-outline-primary text-white ml-2 float-lef">Portfolio</a>
                </div>
                
                <div class="collapse mt-3 clearfix" id="portfolio">
                {% for k, p in sorted(projects.iteritems(), key=lambda (k, p): p['priority']) %}
                    <div class="row">
                        <div class="col-md-12">
                            <button class="btn w-100 bg-transparent" 
                                data-toggle="collapse" data-target="#tog{{ k }}" 
                                aria-expanded="true" aria-controls="tog{{ k }}">
                                    <h5 class="display-5 float-left py-2 my-0">{{ p['name'] }} </h5>
                                    <i class="float-right fas fa-plus mt-3"></i>
                            </button>
                            <div id="tog{{ k }}" class="collapse pb-5 col-md-12" data-parent="#portfolio">
                                <p class="card-text"><a href="{{ p['url'] }}">{{ p['url'] }}</a><br>{{ p['descr'] }}</p>
                                <!--
                                {% if 'logo-glyph' in p %}
                                    <a class="w-100" href="/project/{{k}}">{{ p["logo-glyph"] }}</a>
                                {% else %}
                                    <a href="/project/{{k}}">
                                        <img class="w-100 img-fluid" src="{{ p["logo"] }}" /></a>
                                {% end %}
                                -->
                            </div>
                        </div>
                    </div>
                {% end %}  
                </div>
        </div>
    </div>
{% end %}
