html {
  height: 100%;
}
body {
    font-family: 'Lato', serif !important;
    font-weight: 300;
}
#header {
    position: -webkit-sticky;
    position: sticky;
    z-index:100;
    top: 0;
}
footer {
    /*
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 140px; 
    line-height: 40px;
    */     
    background-color: #f9f9f9; 
    padding: 20px 0;
}
/** **/
:root {
     — space: 1.5em 0;
     — space: 2em 0;
}
.Site {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.Site-content {
    flex: 1 0 auto;
    padding: var( — space) var( — space) 0;
    width: 100%;
}
.Site-content:after {
    content: ‘\00a0’;
    display: block;
    margin-top: var( — space);
    height: 0;
    visibility: hidden;
}
/** **/
.background {
    /*background-color: #f4f9f4b8;*/
    /*background-color: #FFF;*/
    /*background: #e5f1d3;*/
    /*background: #ffe139;*/
    /*background: #fffe78;*/
    /*background: #ffde54;*/
    background: #ffe75e;
}
#logo {
    margin-bottom:-15px;
}
/** About **/
.homeicon {
    font-size: 90px;    
    color: #666;
    clear: both;
    margin: 20px auto !important;
}
.service-icon {
    font-size: 90px;    
    color: #666;
    margin: 20px 0;
}
.service-image {
    max-height: 280px;
    width: auto;
}
.serviceBox h3 {
    font-weight: 700 !important;
    font-family: 'Lato', serif !important;
}
.serviceBox:hover > div {
    /*color: #FFF !important;*/
    border-radius: 5px;
    border: 1px #EEE solid;
}
.serviceBox:hover .homeicon{
    color: #FFF !important;
}
.clear {
    clear: both;
}
/** Work **/
.text-grn3 {
    color: #749244 !important;
}
.text-grn4 {
    color: #4c6730 !important;
}   
.list-icons {
    font-size:2.75rem !important;
}
.image-gallery {
    box-shadow:2px 2px 22px rgba(0,0,0,.11) !important;
}
.project-item {
    /*height: 600px;*/
    clear: both;
}

.shadow {
    filter: drop-shadow(3px 3px  6px #EEE);
}
.project-simple {
    height: 250px;
}
.button-holder {
    display: table-cell;
    vertical-align: bottom; 
}
.project-button {
    background: #d4e5a0; 
    text-align: center;
    font-weight: 300;
}
.project-simple .project-button {
    background: #FFF;
}
.project-button:hover {
}
.project-item img {
    filter: drop-shadow(3px 3px  6px #EEE);
    border: #e8e8e8 1px solid;
}
#project-bjjpath {
    background: #e5f1d3;
}
#project-surveillance {
    background: #fdefcc;
}
#project-whhw {
    background: #fdefcc;
}
#project-data-visualizations {
    background: #fdf6ff;
}
#project-rostovs {
    /*background: #c6ddd8;*/
    background: #eeffe4;
}
#project-rostovs img {
    border: 0;
}
.tech-stack {
    
}
.text-primary {
    /*color: #2e4ba0;*/
}
.dropdown a {
    cursor:pointer;
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link,
.btn-primary {
    background-color: #2e4ba0 !Important;
}
.btn-primary:hover {
    background-color: #4bb648 !Important;
}
.btn-outline-primary {
    /*color: #2e4ba0 !Important;*/
    color: #f4f4f4;
    border-color: #888 !Important;
    background-color: #c5c0c0;
}
.btn-outline-primary:hover {
    background-color: #f6f6f6;
    color: #888 !important;
}
.rebrand {
    max-width: 400px !important;
}
.box-shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.10);
}
.fundamental-group a,
.navbar .nav-item a { 
	font-weight: 700;
    font-family: 'Lato', sans-serif;
}

.fundamental-group ul li {
    /*background-color:#d0fbab;*/
    /*background-color:#fdffe5;*/
    background-color:#fffd91;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-transform: uppercase;
    /*border: 1px solid  !important;*/
    /*border: 1px solid #fdf0d0 !important;*/
    border: 1px solid #f9d29f !important;
}
.fundamental-group ul li a {
    color: #2e4ba0 !Important;
}
.fundamental-group .list-group-item:last-child {
    margin-bottom: -1px !important;
}
.gs {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}
.greyscale {
    filter: grayscale(50%);
}
.feature-img {
    filter: drop-shadow(8px 8px 10px #EEE);
}
#gtitle:hover .small-icon{
    /*opacity:1;*/
    display: inline-block;
}
#gtitle {
    transition: background-color 0.5s ease;
    cursor: pointer;
}
#group_title.showing .small-icon {
    opacity: 1;
}
#gtitle:hover {
  background-color: #EEE;
}
#group_title_edit {
    width: 50%;
}
#group_title_edit h1 {
    clear: both;
}
.small-icon {
    font-size: 1.4rem;
    margin-bottom:5px;
    vertical-align:middle;
    display: none;
    /*opacity: 0;
    transition: opacity 0.25s ease;*/
}
p {
    font-family: 'Lato', serif;
    font-weight: 300;
}
p {
    color: #444545;
}
a {
    color: #759147;
    font-family: 'Lato', serif;
    font-weight: 400;
}
a:hover {
    color: #759147;
    font-weight: 600;
    text-decoration: none !important;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    font-weight: 500;
}
.tagline {
    font-family: 'Zilla Slab', serif;
    font-weight: 500;
}
/** Tech Icons **/

.tech-icons {
    margin-top: 20px !important;
}
.tech-icons > div{
    margin:0px;
    padding:0px;
}
.tech-icon:hover {
    filter: grayscale(0%);
    opacity: 1;
    transition: all 0.5s;
}
.tech-icon {
    height: 50px;
    width: auto;
    float: left;
    opacity: 0.5;
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(95%);
    margin: 5px 15px 5px 5px;
    -webkit-transition: filter 1s;
    transition: filter 1s;
}
.tech-icon:last-child {
    float: right;
    margin-right:0px;
    padding-right:0px;
}
.tech-icon.js {
    width: auto;
}
/** **/
.circle
{
    border-radius: 50% !important;
    width: 40px !important;
    height: 40px !important; 
}
.btn:focus,.btn:active {
   outline: none !important;
   box-shadow: none;
}
#top_bar {
    width: 100%;
    height: auto;
    /*background: #e5f1d3;*/
}
#top_bar a {
    color: #fff;
}
.navbar {
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    border-radius: 0 !important;
}
.navbar-brand img {
    width: 60%;
    height: auto;
    padding:0px;
    /*border-radius: 20px !important;*/
}
.navbar-nav li.nav-item {
    margin-left: 20px;
}
.tags-col {
    max-height: 200px; 
    overflow-y: scroll;
}
/** **/ 
.child-group-list {
    list-style-type: none;
    padding: 0;
    margin:0;
}

/** ClientHandler **/
.project-list-item {
    cursor:pointer;
}
.project-list-item:hover {
    background: #f7f7f7; 
}
/** **/

.breadcrumb .breadcrumb-item:first-child {
    font-weight: bold;
}
.container {
    max-width: 60em;
}
.container-fluid {
    margin: 0 20px;
}
.col label,
.form-group label {
    font-weight: bold;
}
.row.quill-row {
    display: block !important;
}
.img_row {
    background: #FFF;
    height: 300px;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center; 
    /*-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    /*filter: grayscale(100%);*/
}
#img_row {
    background-image: url("/static/img/frontpage.png");
}
#img_row_2 {
    background-image: url("/static/img/bjj_test.png");
}
#img_row_3 {
    background-image: url("/static/img/login.png");
}

/* article */
.article-sidebar {
    position: sticky;
    top: 0;
    /*padding-top: 25px;*/
}
#draft_message,  
#message {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
	z-index: 1000;
}
#message {
	display: none;
}
/* Subscribers */
.copy-pass {
    cursor: pointer;
}

.paying {
    color: #4bb748 !important;
    font-weight: bold;
}
.not_subbed {
    color: #eca823 !important;
    font-weight: bold;
}
/* ******** */

/* Video Stuff */
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    margin-bottom: 20px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.ytp-watermark {
    display:none !important;
}

.errors p {
    margin-bottom:0;
}


#search_form {
    display:none;
    color: rgba(0,0,0,0.5);
}
#search_form .fa-times-circle {
    font-size: 1.4rem;
    cursor: pointer;
}
.fa-search {
    cursor: pointer;
    /*-moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";*/
}

/*
####################################################
USAGE STATS
####################################################
*/

/*
.collapse[aria-expanded="false"] {
    display: block;
    height: 40px !important;
    overflow: hidden;
}
*/

.show_more .collapse:not(.show) {
    display: block;
    height: 300px !important;
    overflow: hidden;
}
}
.show_more .collapsing[aria-expanded="false"] {
    height: 300px !important;
}

 .show_more a.show_hide.collapsed:after  {
    content: '+ Show More';
}

.show_more a.show_hide:not(.collapsed):after {
    content: '- Show Less';
}

.days-hours-heatmap {
    overflow-x:scroll !important;
    /*height: 100% !important;
    width: 100% !important;*/
}
.days-hours-heatmap svg.heatmap {
    min-height: 400px !important;
    /*width: 100% !important;*/
    overflow-x:scroll !important;
}

.visitor-map-holder svg {
    width: 100%;
}

/*
####################################################
M E D I A  Q U E R I E S
####################################################
*/
 
/*
::::::::::::::::::::::::::::::::::::::::::::::::::::
Bootstrap 4 breakpoints
*/
/* Small devices (landscape phones, 544px and up) */
@media (min-width: 320px) and (max-width:768px) {  
    h1 {font-size:1.5rem; !important} /*1rem = 16px*/
    .navbar-brand {
        width: 75%;
    }
    .navbar-brand img {
        width: 100%;
    }
    .tagline {
        font-size: 1.2rem !important; 
        font-weight: 700;
    }
}
 
/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) {  
  h1 {font-size:2rem;} /*1rem = 16px*/
}
 
/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { 
  h1 {font-size:2.5rem;} /*1rem = 16px*/
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
  h1 {font-size:3rem;} /*1rem = 16px*/    
}
